<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Socialabs Topic</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <form action="/topic">
        <div class="d-flex align-items-center justify-content-center" style="min-height: 80vh;">
            <div class="card mb-3 w-50">
              <div class="card-body">
                <label for="keyword" class="form-label fw-bold">Kata Kunci</label>
                <input type="text" class="form-control mb-2" id="keyword" name="keyword" placeholder="Masukan keyword" required>
                <label for="period" class="form-label fw-bold">Periode</label>
                <input type="text" class="form-control mb-2" id="period" name="period" placeholder="Masukan Periode" required>
                <label for="num_tweets" class="form-label fw-bold">Jumlah Tweet</label>
                <input type="number" max="10000" class="form-control mb-2" id="num_tweets" name="num_tweets" placeholder="Masukan jumlah tweet" value="10000" required>
                <div class="text-end">
                    <button class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
        </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script>
      $('input[name="period"]').daterangepicker();
    </script>
  </body>
</html>